body {
    background-color: #EAFDFC;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;

}
h2{
    color: #82AAE3;
}


h4{
    color: #82AAE3;
}

a:link{
    text-decoration: none;
    color: #82AAE3;
}

